* {
	font-style: normal; /*overwrites default font styling (italics, bold, etc.)*/
}

html {
	background-color: rgb(255, 255, 255);
	font-size: 1rem;
	font-family: "Roboto Mono", sans-serif;

	cursor: default;
	line-height: 110%;
}

body {
	margin: 0;
}

/* * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;            //don't use till you understand
    box-sizing: border-box;
} */

.italicized-title {
	font-style: italic;
}

/* p,
li {
    letter-spacing: 1px;
    line-height: 2;
} */

a {
	color: red;
}

h1 {
	margin: 0;
	padding: 1%;
	color: red;
	font-size: 4rem;
	text-align: center;
	text-shadow: 2px 2px 3px aqua;
	background-color: black;
	line-height: 100%;
}

.page-title-container {
	display: block;
	background-color: black;
	width: 100%;
	height: 100%;
}

.page-description {
	line-height: 100%;
	margin: 1% auto;
	width: 70%;
	font-size: xx-large;
	color: red;
	text-align: center;
}

a:hover {
	color: aqua;
}

a:visited {
	color: rgb(0, 167, 167);
}

/* .basic-text {
    font-weight: bold;
    color: red;
} */

p {
	font-size: x-large;
	color: red;
}

.candela-obscura-link:hover {
	color: rgb(110, 12, 134);
}

.hero {
	margin: 0 auto;
	max-width: fit-content;
}

.hero-images-container {
	position: relative;
	/* margin: 0 1% 0% 1%; */
	max-width: 100%;
	padding: 1.5%;
	background-color: rgb(0, 0, 0);
}

.hero-image {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}

.hero-image-attribution {
	margin: 0;
	position: absolute;
	bottom: 5%;
	right: 3%;
	line-height: 100%;
	padding: 0.75%;

	background-color: rgba(255, 255, 255, 0.5);
	color: black;
}

nav {
	width: 100%;
	background-color: rgb(55, 55, 55);
	position: sticky;
	top: 0px; /*places the sticky at the top of the page*/
	z-index: 1;
}

.nav-bar {
	width: 50%;
	margin: 0 auto;
	text-align: center;
	padding: 0;
}

.nav-bar-item {
	display: inline-block;
	padding: 4px;
	font-weight: bold;
}

.nav-bar-item-link {
	text-decoration: none;
}

.main-content {
	width: 50%;
	margin: 0 auto;
}

.blog-post-container {
	margin: auto;
	/* width: 60%; */
	/* height: 300px; */

	padding: 1%;

	/* background-color: bisque; */
}

.blog-post {
	position: relative;
	margin: 2%;
	text-align: left;
	line-height: normal;
	max-height: 70px;
	padding: 1%;
	overflow: hidden;
	border: 2px, solid, black;
	border-radius: 5px;
	background-color: rgb(215, 215, 215);
}

.blog-post::after {
	content: "";
	position: absolute;
	font-size: large;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0);
	opacity: 0;
	transition: opacity 0.5s ease;
}

.blog-post:hover::after {
	opacity: 0.6;
}

.blog-post:hover {
	.open-article-icon {
		opacity: 1;
	}
	.blog-post-read-article {
		opacity: 1;
	}
}

.article-hover-items {
	position: absolute;
	left: 37%;
}

.blog-post-read-article {
	position: relative;

	z-index: 1;

	color: white;

	line-height: 0%;
	font-size: 2em;

	opacity: 0;
	transition: opacity 0.5s ease;
}

.open-article-icon {
	position: relative;
	top: 10px;
	z-index: 1;

	opacity: 0;
	transition: opacity 0.5s ease;
}

.blog-post-title {
	all: revert;
	display: inline;
	color: red;
	text-decoration: underline;
}

.blog-post-title-separator {
	font-weight: bolder;
	font-size: 1.5rem;
}

.blog-post-body {
	display: inline;
	font-size: 1.5rem;
	text-overflow: ellipsis;
	color: black;
}
