@font-face {
	font-family: "Roboto Mono";
	src: local("fonts/RobotoMono/RobotoMono-VariableFont_wght.ttf"),
		url("https://fonts.googleapis.com/css?family=Roboto+Mono");
}

@font-face {
	font-family: "Caudex";
	src: local("fonts/Caudex/Caudex-Regular.ttf"),
		url("https://fonts.googleapis.com/css?family=Caudex");
}

* {
	font-style: normal; /*overwrites default font styling (italics, bold, etc.)*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 1em;
	font-family: "Roboto Mono", sans-serif;
	line-height: 110%;

	background-color: rgb(7, 44, 46);
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;

	background-color: rgb(7, 44, 46);
}

.italicized-title {
	font-style: italic;
}

a {
	color: rgb(188, 188, 188);
}

.page-title-container {
	display: flex;
	justify-content: center;
	background-color: rgb(2, 37, 39);
}

h1 {
	margin: 0;
	padding: 1%;

	font-family: "Caudex";
	color: rgb(0, 138, 138);
	font-size: 4rem;
	text-align: center;
	text-shadow: 2px 2px 3px aqua;
	line-height: 100%;
}

.page-description-container {
	background-color: lightgrey;
}

a:hover {
	color: rgb(0, 138, 138);
}

.candela-obscura-link:hover {
	color: rgb(110, 12, 134);
}

.hero-images-container {
	position: relative;
	margin: 0em 10em;
	/* width: 100%; */
	padding: 1.5em;
	background-color: rgb(0, 0, 0);
}

.hero-image {
	width: 100%;
}

.hero-image-attribution {
	margin: 0;
	position: absolute;
	bottom: 5%;
	right: 3%;
	line-height: 100%;
	padding: 0.3em;

	background-color: rgba(255, 255, 255, 0.5);
	color: black;
}

nav {
	/* background-color: rgb(0, 47, 47); */
	position: sticky;
	top: 0px; /*places the sticky at the top of the page*/
	z-index: 1;

	/* margin-top: 0; */
}

.nav-bar {
	display: flex;
	justify-content: center;
	margin: auto;
	padding: 0.25em;

	background-color: rgb(73, 73, 73);
}

.nav-bar-item {
	display: inline-block;
	margin: 0 1%;
	font-weight: bold;
}

.nav-bar-item-link {
	text-decoration: none;
}

.main-content {
	width: 50%;
	margin: 0 auto;
}

.blog-post-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	margin: auto;

	height: 40em;
	max-width: 100%;

	padding: 1%;
}

.blog-post {
	display: flex;
	flex-direction: column;
	align-items: center;

	position: relative;
	margin: 2%;
	padding: 1%;
	text-align: justify;
	line-height: normal;

	max-height: fit-content;
	max-width: 20%;

	overflow: hidden;
	border: 2px, solid, black;
	border-radius: 5px;
	background-color: rgb(228, 228, 228);
}

.blog-post::after {
	content: "";
	position: absolute;
	font-size: large;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0);
	opacity: 0;
	transition: opacity 0.5s ease;
}

.blog-post:hover::after {
	opacity: 0.6;
}

.blog-post:hover {
	.open-post-icon {
		opacity: 1;
	}
	.blog-post-read-article {
		opacity: 1;
	}
}

.blog-post-hover-items {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.blog-post-read-article {
	position: relative;

	z-index: 1;

	color: white;

	font-size: 2em;

	opacity: 0;
	transition: opacity 0.5s ease;
}

.open-post-icon {
	position: relative;
	bottom: 3px;
	z-index: 1;

	opacity: 0;
	transition: opacity 0.5s ease;
}

.blog-post-title {
	margin: 3%;

	color: red;
	text-decoration: underline;

	font-size: 1.5em;
}

.blog-post-title-separator {
	font-weight: bolder;
	font-size: 1.5rem;
}

.blog-post-body {
	display: inline;
	margin: 3% 0%;

	font-size: 1.5rem;
	text-overflow: ellipsis;
	color: black;
}
