html {
    font-size: 12px;
    font-family: "Roboto Mono", sans-serif;
}

body {
    position: relative;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.art-title {
    font-style: italic;
}

p,
li {
    letter-spacing: 1px;
    line-height: 2;
}

a {
    color: red;
}

h1 {
    color: red;
    font-size: 60px;
    text-align: center;
}

h2{
    color: darkred;
    text-align: center;
}

a:hover {
    color: aqua;
}

.basic-text {
    font-weight: bold;
    color: red;
}

p {
    color: blueviolet;
}

.candela-obscura-link:hover {
    color:rgb(110, 12, 134);
}

.lancer-character-collage {
    max-width:fit-content;
    position: relative;
}

.nav-bar {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);

    display: inline;
    top: 0px;
    z-index: 1;
    padding: 0;


}

nav {
    width: 100%;
}

.nav-bar-item {
    display: inline;
}
/* TODO: align image to center of page */