html {
    font-size: 10px;
    font-family: "Roboto Mono",sans-serif;
}

p,
ul
 {
    color: grey;
}

.art-title {
    font-style: italic;
}

a,
h1 {
    color: red
}

h2{
    color: darkred;
}
a:hover {
    color: aqua;
}